<div class="landing-page">
  <div class="landing-page__banner">
    <h3 class="landing-page__banner-logo">Almusal <span class="icon icon--egg"></span></h3>
    
    
  </div>

  <div class="landing-page__banner-text" [ngClass]="state">
    <h1>Breakfast is the most</h1>
    <h1>important meal of the day...</h1>  
    <!-- 
      Don't have time to prepare breakfast? Don't worry i got you
      Plan your breakfast a head of time
     -->
  </div>

  <button class="landing-page__order-btn">ORDER NOW</button>
  

  <h1>HELLo</h1>
  

  <!-- 
    Delivered on time => Food ready before your breadfast time.

    Budget Meal => Blah blah blahh

    Lot of Choice => Blah blah blah
  -->


  <!-- 
    http://www.munchpunch.com/faq 
    About Us
    privacy policy
    contact us

    https://www.zomato.com/conditions
    https://www.zomato.com/privacy

    https://www.zomato.com/about
  -->
</div>